<div class="container">
  <header>
    <h1>Usuarios</h1>
  </header>
  <section>
    <div>
      <button mat-raised-button color="primary" (click)="openModalRegister()">Nuevo usuario </button>
    </div>
    <div class="content-list">
      <h2>Listado de usuarios</h2>
      <app-table-generic 
        [data]="users"
        [displayedColumns]="KEY_TABLE"
        [titlesColumns]="TITLE_COLUMNS_TABLE"
        (edit)="openModalEdit($event)"
        (remove)="openModalConfirmDelete($event)"
      ></app-table-generic>
    </div>
  </section>
</div>