<h2 mat-dialog-title>{{data.user ? 'Editar usuario': 'Registrar usuario'}}</h2>
<form [formGroup]="form" (ngSubmit)="submitForm()">
  <mat-dialog-content>

    <mat-form-field>
      <mat-label>Nombre usuario</mat-label>
      <input type="text" name="user" matInput  formControlName="user" autocomplete="off" />
      <mat-error>
        <control-messages [control]="user"></control-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Clave</mat-label>
      <input type="text" name="password" matInput  formControlName="password" autocomplete="off" />
      <mat-error>
        <control-messages [control]="password"></control-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cargo</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let r of roleList" [value]="r.role_id">{{r.name}}</mat-option>
      </mat-select>
      <mat-error>
        <control-messages [control]="role"></control-messages>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre completo</mat-label>
      <input type="text" name="full_name" matInput  formControlName="full_name" autocomplete="off" />
      <mat-error>
        <control-messages [control]="full_name"></control-messages>
      </mat-error>
    </mat-form-field>

    <div>
      <label for="">Activo</label>
      <mat-radio-group aria-label="Select an option" formControlName="active">
        <mat-radio-button  [value]="true">Sí</mat-radio-button>
        <mat-radio-button  [value]="false">No</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error>
        <control-messages [control]="description"></control-messages>
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onNoClick()">Cancelar</button>
    <button mat-button type="submit" color="primary" [disabled]="service">{{service ? '...Guardando' : 'Guardar'}}</button>
  </mat-dialog-actions>
</form>