<h2 mat-dialog-title>{{data.client ? 'Editar incidencia': 'Registrar incidencia'}}</h2>
<form [formGroup]="form" (ngSubmit)="submitForm()">
  <mat-dialog-content>

    <mat-form-field>
      <mat-label>Proyecto</mat-label>
      <mat-select formControlName="project">
        <mat-option *ngFor="let p of projectList" [value]="p.project_id">{{p.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Motivo</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <div>
      <label for="">Observación levantada</label>
      <mat-radio-group aria-label="Select an option" formControlName="state">
        <mat-radio-button *ngFor="let row of COMBO_STATE" [value]="row.value">{{row.desc}}</mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field>
      <mat-label>Fecha de respuesta</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateResponse">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Respuesta</mat-label>
      <textarea matInput formControlName="solution"></textarea>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button" (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="true" type="submit">Guardar</button>
  </mat-dialog-actions>
</form>