/* You can add global styles to this file, and also import other style files */

html, body { 
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body { 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

p {
    font-size: 1.6rem;
    line-height: 5rem;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.4rem;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.content-list {
    margin-top: 32px;
}

.m-section{
    padding: 40px 20px;
    position: relative;
}